.pokedex{

  .title{
    font-size: 2.5rem;
    color: #22223b;
  }

  .btns-add{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;

    .btn{
      border: none;
      border-radius: 5px;
      text-decoration: none;
      padding: 5px 25px;
      color: #fff;
      margin: 5px;

      &.agregar{
        background-color: #2a9d8f;
      }
      &.crear{
        background-color: #168aad;
      }
    }

  }

  .pokemons{
    width: 90%;
    margin: auto;
    
    display: flex;
    padding: 50px 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #666666;

    .pokemon{
      transition: .3s all ease;
      margin: 10px 0px;
      border-radius: 5px;
      width: 260px;
      padding: 25px 0;

      .img img{
        width: 200px;
        height: 200px;
      }
      .name{
        font-size: 1.8rem;
        font-weight: 700;
      }
      .height{
        margin-top: 10px;
      }
      .weight{
        margin-bottom: 10px;
      }

      &:hover{
        box-shadow: 0 0 15px -5px rgba($color: #000000, $alpha: .6);
      }
    }
  }
}